/* shared */
body {
  background-image: url('./images/pk-bg.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  min-height: 100vh;
}

/* initial group select menu */
#app-start {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#group-button {
  color: white;
  margin: 1vh;
  padding: 3vh;
  background-color: rgba(87, 235, 238, 0.54);
  border: none;
  font-size: 5vh;
  border-radius: 2vh;
  transition-duration: 0.8s;
}

#group-button:hover {
  background-color: rgba(135, 19, 189, 0.8);
}

/* view while fetching */
#loading-div {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* schedule container */
#schedule-container-header {
  padding: 5vh;
  background-color: rgb(6, 32, 82);
  margin-bottom: 0;
  margin-top: 0;
}

#schedule-container {
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  transition-duration: 2s;
  color: white;
}

#grouped-daily-schedule {
  color: white;
  padding: 2vh;
  background-color: rgba(6, 32, 82, 0.8);
  -webkit-transition: background-color 5000ms linear;
  -ms-transition: background-color 5000ms linear;
  transition: background-color 5000ms linear;
  border: none;
  font-size: 5vh;
  transition-duration: 2s;
}

.grouped-daily-schedule-button {
  color: rgb(6, 32, 82);
  margin-top: 1vh;
  padding: 2vh;
  padding-left: 8vh;
  padding-right: 8vh;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 3vh;
  transition-duration: 0.8s;
}

.grouped-daily-schedule-button:hover {
  background-color: rgba(135, 19, 189, 0.8);
}

.class-details {
  margin-top: 5vh;
  background-color: rgba(241, 241, 241, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.class-details-period {
  transition-duration: 0.8s;
  font-size: calc(5px + 2vmin);
}

#small-logo{
  height: 10vh;
}


